body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-image: url("images/tile.jpg");
	z-index: 1;
}
h1 {
	font-family: "Open Sans", sans-serif;
}
form {
	background-image: url("images/formbg.jpg");
	z-index: 2;
	height: 250px;
}
#content{
	width: 100%;
}
.note {
	background-image: url("images/notebg.png");
	background-repeat: no-repeat;
	width: 180px;
	height: 230px;
	float: left;
	margin-left:15px;

}
.show {
	opacity: 1;
	animation: fadeIn 1s linear;
}
@keyframes fadeIn {
    from {opacity: 0}
    to {opacity: 1}
}
.hide {
	opacity: 0;
}
.text {
	margin: 10px 10px;
	width: 180px;
	height: 140px;
	color: red;
	overflow-x: auto;
}
.date,
.time {
	margin-left: 10px;
}
.fa-times{
	display: inline;
	color: black;
	float: right;
	margin-right: 10px;
	margin-top: 20px;
	opacity: 0;
}
